<a href="https://colab.research.google.com/github/ebasantos/Python_Start_Studing_DataScience/blob/master/First_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

table = pd.read_csv('ratings.csv')
table.columns = ['Usuario', 'Filmes', 'Nota', 'Data']
table.head()

   Usuario  Filmes  Nota         Data
0        1     1.0   4.0  964982703.0
1        1     3.0   4.0  964981247.0
2        1     6.0   4.0  964982224.0
3        1    47.0   5.0  964983815.0
4        1    50.0   5.0  964982931.0

In [0]:
print('abaixo são as notas e suas respectivas repetições:')
table['Nota'].value_counts()

abaixo são as notas e suas respectivas repetições:

4.000000e+00    41855
3.000000e+00    31560
3.500000e+00    20864
5.000000e+00    20329
4.500000e+00    13047
2.000000e+00    12017
2.500000e+00     9110
1.000000e+00     4491
1.500000e+00     3047
5.000000e-01     2267
9.448994e+08        1
1.143474e+09        1
Name: Nota, dtype: int64

In [0]:
print('abaixo a média das notas:')

table['Nota'].mean()

abaixo a média das notas:

13171.945327229505